<h1>About Us</h1>
<p>ProjectGalo is a document repository platform for Business Professionals to store documents for employers to pay-to-view. So there is no more Free to sample your ideas. Have them pay you for your samples.</p>