<h1>Prices</h1>

<div>
	<table border=1>
		<tr>
			<th>1 download credit</th>
			<th>5 download credits</th>
			<th>10 download credits</th>
		</tr>
		<tr>
			<td>$79</td>
			<td>$359</td>
			<td>$700</td>
		</tr>
	</table>
</div>

<br />

<div>
	<p>Terms of Service:
		No Refunds
	</p>
	<p>
		Download credits have no expiration date.
	</p>
</div>

<br />

<h1>Commission</h1>

<p>
	User receives 80% commission of each download.
</p>